﻿
@{
    ViewBag.Title = "Kto? Komu? Ile?";
}

<div class="container">
    <h1>Cosik poszło nie tak...</h1>
    <h3 class="alert alert-danger">@Session["errorMessage"]</h3>
</div>

@{
    Session["errorMessage"] = "dupa";
}