﻿@model OrderCalculator.Models.HomeViewModel

@{
    ViewBag.Title = "Kto? Komu? Ile?";
}

<div class="container">
    <h2>Dodaj</h2>
    @using (Html.BeginForm("Index", "Home"))
    {
        @Html.HiddenFor(model => model.NewOrder.Id)
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.NewOrder.Name)
                @Html.TextBoxFor(model => model.NewOrder.Name, new { @class = "form-control" })
                <span class="error">
                    @Html.ValidationMessageFor(model => model.NewOrder.Name)
                </span>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.NewOrder.OrderValue)
                @Html.TextBoxFor(model => model.NewOrder.OrderValue, new { @class = "form-control" })
                <span class="error">
                    @Html.ValidationMessageFor(model => model.NewOrder.OrderValue)
                </span>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.NewOrder.Input)
                @Html.TextBoxFor(model => model.NewOrder.Input, new { @class = "form-control" })
                <span class="error">
                    @Html.ValidationMessageFor(model => model.NewOrder.Input)
                </span>
            </div>
        </div>
        <input type="submit" value="dodaj" class="btn btn-success" />
    }
    <h2>Paśnik</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Kto żre?</th>
                <th>Wartość paszy</th>
                <th>Wpłata własna</th>
                <th>Akcje</th>
            </tr>
        </thead>
        @foreach (var item in @Model.Orders)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.OrderValue PLN</td>
                <td>@item.Input PLN</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Edit", "Home", new {id = item.Id})">edytuj</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Home", new {id = item.Id})">usuń</a>
                </td>
            </tr>
        }

        <tr class="active">
            <td><strong>RAZEM</strong></td>
            <td><strong>@Model.Orders.Sum(x => x.OrderValue) PLN</strong></td>
            <td>
                <strong>@Model.Orders.Sum(x => x.Input) PLN</strong>
                @if (@Model.Orders.Sum(x => x.Input) - @Model.Orders.Sum(x => x.OrderValue) < 0)
                {
                    <br /><strong style="color: red;">brakuje @(Model.Orders.Sum(x => x.OrderValue) - Model.Orders.Sum(x => x.Input)) PLN</strong>
                }
                @if (@Model.Orders.Sum(x => x.Input) - @Model.Orders.Sum(x => x.OrderValue) > 0)
                {
                    <br /><strong style="color: darkgreen;">@(Model.Orders.Sum(x => x.Input) - Model.Orders.Sum(x => x.OrderValue)) PLN nadmiaru</strong>
                }
            </td>
            <td>
                @if (@Model.Orders.Any())
                {
                    <a href="@Url.Action("Result", "Home")" class="btn btn-success">przelicz</a>
                    <a href="@Url.Action("Clear", "Home")" class="btn btn-warning">wyczyść</a>
                }
                else
                {
                    <span>brak akcji</span>
                }
            </td>
        </tr>
    </table>
    @*<a href="@Url.Action("Result", "Home")" class="btn btn-success">przelicz</a>*@
</div>

