﻿@model IList<OrderCalculator.Models.Transfer>
@{
    ViewBag.Title = "Kto? Komu? Ile?";
}

<div class="container" style="font-size: x-large;">
    @foreach (var item in Model)
    {
        <div class="row">
            <span class="col-md-1">@item.From</span>
            <span class="glyphicon glyphicon-bitcoin transferArrow col-md-1" aria-hidden="true"></span>
            <span class="col-md-1 btn-lg btn-success">@item.Value PLN</span>
            <span class="glyphicon glyphicon-arrow-right transferArrow col-md-1" aria-hidden="true"></span>
            <span class="col-md-1">@item.To</span>
        </div>
        <hr />
    }
</div>