﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/StyleSheet.css" type="text/css"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="mainContainer">
        <div class="jumbotron">
            <div class="container">
                <a href="@Url.Action("Index", "Home")" class="headerLink"><h1>Kto? Komu? Ile?</h1></a>
                <p>Kalkulator paśnika na potrzeby Jaszczur Teamu</p>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
