﻿.error {
    color: red;
}

.mainContainer {
    margin-left: auto;
    margin-right: auto;
}

.headerLink {
    text-decoration: none;
    color: #404040;
}

.headerLink:hover {
    text-decoration: none;
    color: black;
}

.transferArrow {
    font-size: xx-large;
    margin-left: 50px;
}